
<div class="div" *ngIf="!movie" class="text-center text-warning">
  <img src="/assets/images/m.jpg">
</div>
  <div class="row" *ngIf="movie">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2 card border border-0" >
    <img src="{{movie.Poster}}" alt="{{movie.Title}}" class="img img-thumbnail">
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-10 card border border-0">
    <h3>{{movie.Title}} <small> {{movie.Year}}</small></h3>

    <table class="table table-striped table-hover table-dark">
      <tbody>
        <tr>
          <td>Director</td>
          <td>{{movie.Director}}</td>
        </tr>
        <tr>
          <td>Actors</td>
          <td>{{movie.Actors}}</td>
        </tr>
        <tr>
          <td>Plot</td>
          <td>{{movie.Plot}}</td>
        </tr>
        <tr>
          <td>Production</td>
          <td>{{movie.Production}}</td>
        </tr>
        <tr>
          <td>Genre</td>
          <td>{{movie.Genre}}</td>
        </tr>

        <tr>
          <td>Ratings</td>
          <td>{{movie.Ratings[1].Source}},
            {{movie.Ratings[1].Value}} | IMDB {{movie.imdbRating}}</td>
        </tr>
        <tr>
          <td>BoxOffice</td>
          <td>{{movie.BoxOffice}}</td>
        </tr>
      </tbody>
    </table><div class="div">
      <button class="btn btn-primary btn-sm" (click)="goBack()">
        Back</button></div>
  </div>
</div>
