<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="assets/images/logo.jpg"></a>
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Search Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" (submit)="submitHandler($event)">
      <input type="text"
      name="queryTerm"
      placeholder="Search movies..."
      class="form-control"
      autofocus
      [(ngModel)]="queryTerm">
    </form>
  </div>
</nav> -->

<nav class="navbar navbar-dark bg-dark">
  <div><a class="navbar-brand" href="#"><img src="assets/images/l.jpg"> <span class="oggz font-weight-bolder lead"> OGGZ </span></a></div>
  <form class="form-inline">
    <input type="text"
    name="queryTerm"
    placeholder="Search movies..."
    class="form-control"
    autofocus
    [(ngModel)]="queryTerm">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="submitHandler($event)">Search</button>
  </form>
</nav>
