<div class="foee">
<div class="container">
  <h1 class="display-4">OGGZ WEBSITE</h1>
<p class="text-center lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
  standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
  It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
  in the 1960s with the release of Letraset sheets
  containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div><hr><div class="container">
    <div class="row row-cols-3">
    <div class="col card" style="width: 18rem;">
      <a href="/movies?param=iron%20man"><img src="{{movies[0].Image}}" class="card-img-top" alt="{{movies[0].title}}"></a>
      <div class="card-body">
        <h5 class="card-title">{{movies[0].title}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         class="btn btn-primary"
      </div>
  </div>
  <div class="col card" style="width: 18rem;">
    <a href="/movies?param=spider%20man"><img src="{{movies[1].Image}}" class="card-img-top" alt="{{movies[1].title}}"></a>
  <div class="card-body">
    <h5 class="card-title">{{movies[1].title}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

  </div>
  </div>
  <div class="col card" style="width: 18rem;">

     <a href="/movies?param=anaconda"><img src="{{movies[2].Image}}" class="card-img-top" alt="{{movies[2].title}}"></a>
  <div class="card-body">
    <h5 class="card-title">{{movies[2].title}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

  </div>
  </div>
    </div><hr>
    <div class="row row-cols-3">
      <div class="col card" style="width: 18rem;">
       <a href="/movies?param=mission%20impossible"><img src="{{movies[3].Image}}" class="card-img-top" alt="{{movies[3].title}}"></a>
        <div class="card-body">
          <h5 class="card-title">{{movies[3].title}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

        </div>
    </div>
    <div class="col card" style="width: 18rem;">
      <a href="/movies?param=die%20hard"><img src="{{movies[4].Image}}" class="card-img-top" alt="{{movies[4].title}}"></a>
  <div class="card-body">
    <h5 class="card-title">{{movies[4].title}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

  </div>
    </div>
    <div class="col card" style="width: 18rem;">
      <a href="/movies?param=tarzan"><img src="{{movies[5].Image}}" class="card-img-top" alt="{{movies[5].title}}"></a>
  <div class="card-body">
    <h5 class="card-title">{{movies[5].title}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

  </div>
    </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
<p class="text-center lead"> Copyright &copy; 2020 All rights reserved |</p>
    </div>
</div>


