<br>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12 card" *ngFor="let m of movies">
      <div class="alert alert-secondary clickable"  [routerLink]="['/movie-details', m.imdbID]">
          <div class="card-body">
            <img
              class="img-thumbnail"
              src="{{ m.Poster }}"
              alt="{{ m.Title }}"
            />
            <h5 class="card-title text-center">{{ m.Title }}<small> {{m.Type.toUpperCase()}}</small></h5>
            <p class="card-text text-center">{{ m.Year }}</p>
            <p class="card-text text-center">{{m.Genre}}</p>
          </div>
      </div>
    </div>
  </div>
</div>
<br>
