/* You can add global styles to this file, and also import other style files */
.clickable{
  cursor: pointer;
}
.foee{
  background-image: url("/assets/images/wall.jpg" );
}
.oggz{
	font-size: 20px;
	color: rgba(255, 250, 250, 0.452)(255, 250, 250, 0.808);
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
